/*For video embeds*/
.welcome > iframe {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: max(15rem, 20vw);
}

.welcome {
    z-index: 50;
    background: white;

}

.welcome > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
}
