/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-float infinite 3s ease-in-out;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*}*/

/*.App-link {*/
/*  color: rgb(112, 76, 182);*/
/*}*/

/*@keyframes App-logo-float {*/
/*  0% {*/
/*    transform: translateY(0);*/
/*  }*/
/*  50% {*/
/*    transform: translateY(10px)*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0px)*/
/*  }*/
/*}*/

/*#map {*/
/*height: 100%;*/
/*}*/
.navbar {
    background: #fefefe;
    padding: 2rem;
    grid-area: nav;
    z-index: 500;
    border-bottom: solid #cdcfd2;
    border-width: 1px;
}

.sidebar {
    grid-area: sidebar;
    z-index: 400;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    overflow-y: auto;
}


.map {
    background: coral;
    grid-area: map;
    z-index: 300;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar {
}

@media only screen and (max-width: 600px) {
    #root {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid:
    [row1-start] "nav" 4rem [row1-end]
    [row2-start] "map" 1fr [row2-end]
    / 100%;
    }
    .sidebar {
        display: none;
        grid-area: sidebar;
    }

}
@media (min-width: 601px) {

    #root {
        display: grid;
        height: 100vh;
        width: 100vw;
        grid:
    [row1-start] "nav nav" 4rem [row1-end]
    [row2-start] "sidebar map" 1fr [row2-end]
    / 0.5fr 1fr;
    }

}